:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Questrial', sans-serif;

}
body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: black;
}
h1 {
    font-size: 96px;

}
p {
    font-family: var(--default-font-family);
    font-weight: normal;
    margin: 0;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p {
    font-size: 36px;
    font-weight: bold;
    color: #272142;
}
.hero h2 {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
}
.btn-branding {
    background: var(--branding-color);
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-family: var(--default-font-family);
    font-weight: normal;
}